.header {
  padding: 1.5rem 0;
  background-color: var(--white);
}

.header__top {
  margin: 0;
  height: 32px;
  display: grid;
  grid-template-columns: auto 1fr auto 3.5rem auto;
}

.header__menu-icon {
  display: none;
}

.header__logo {
  grid-column: 1;
}

.header__title {
  margin: 2.5rem 0;
  color: var(--black);
  font-family: 'Inter';
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
}

@media screen and (width <= 576px) {
  .header {
    padding: 1rem;
  }

  .header_grey {
    background-color: var(--grey-1);
  }

  .header__top {
    grid-template-columns: 24px 1fr auto 1fr 24px;
  }

  .header__menu-icon {
    display: block;
    width: 24px;
    height: 24px;
    align-self: center;
    grid-column: 1;
  }

  .header__logo {
    grid-column: 3;
  }

  .header__title {
    margin: 3rem 0 3.375rem 0;
    color: var(--grey-4);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.375rem;
  }
}
