.header {
  padding: 1.5rem 0;
  background-color: var(--white);
}

.header__title {
  margin: 2.5rem 0;
  color: var(--black);
  font-family: 'Inter';
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
}

.header__logo {
  margin: 0;
  height: 32px;
  background-color: black;
}

@media screen and (width <= 576px) {
  .header {
    padding: 1rem;
  }

  .header__title {
    margin: 3rem 0 3.375rem 0;
    color: var(--grey-4);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.375rem;
  }
}
