.tabs {
  background-color: var(--white);
  padding-left: 5px;
}

.tabs__input {
  position: absolute;
  opacity: 0;
  left: -100vw;
}

.tabs__scroller {
  display: flex;
  gap: 40px;
  color: var(--grey-3);
  font-family: 'Inter';
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

#all-tab:checked ~ .tabs__scroller .tabs__label[for='all-tab'],
#complex-tab:checked ~ .tabs__scroller .tabs__label[for='complex-tab'],
#simple-tab:checked ~ .tabs__scroller .tabs__label[for='simple-tab'] {
  color: var(--black);
}

#all-tab:checked ~ .tabs__scroller .tabs__label[for='all-tab']::after,
#complex-tab:checked ~ .tabs__scroller .tabs__label[for='complex-tab']::after,
#simple-tab:checked ~ .tabs__scroller .tabs__label[for='simple-tab']::after {
  content: "";
  display: block;
  padding-top: 8px;
  width: 100%;
  height: 5px;
  background-color: var(--black);
  background-clip: content-box;
}

.tabs__content {
  display: none;
}

#all-tab:checked ~ .preview .tabs__content_complex,
#all-tab:checked ~ .preview .tabs__content_simple,
#complex-tab:checked ~ .preview .tabs__content_complex,
#simple-tab:checked ~ .preview .tabs__content_simple {
  display: block;
}
