.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 2.25rem;
  background-color: var(--grey-1);
}

@media screen and (width <= 576px) {
  .page {
    row-gap: 0.375rem;
  }
}
