@import '../fonts/fonts.css';
@import '../../03-lection1/01-button/button.css';
@import '../../03-lection1/02-accordion/accordion.css';
@import '../../components/card/card.css';
@import '../../components/component/component.css';
@import '../../components/container/container.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/main/main.css';
@import '../../components/menu/menu.css';
@import '../../components/page/page.css';
@import '../../components/preview/preview.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../07-lection5/03-toggler/toggler.css';
@import '../../09-lection7/01-burger-menu/burger-menu.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --deep-purple: #5028C6;
    --blue: #4263EB;
    --deep-blue: #2342C0;
    --light-blue: rgba(160, 177, 245, 0.2);
    --red: #F03D3E;
    --orange: #D84910;
    --grey-1: #F9FAFC;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #334D6E;
    --grey-6: #90A0B7;

    --error: var(--red);
    --success: var(--blue);
    --notification: var(--orange);

    --primary: var(--blue);
    --primary-deep: var(--deep-blue);
    --primary-light: var(--light-blue);
    --secondary: var(--purple);
    --secondary-deep: var(--deep-purple);
}

body {
    font-family: 'Roboto', sans-serif;
}
