@media screen and (width <= 576px) {
  .footer {
    display: none;
  }
}

.footer {
  padding: 3.5rem 0;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
}

.footer_white {
  background-color: var(--white);
}

.footer__title {
  margin: 1rem 0 2rem;
  font-size: 2.375rem;
  font-weight: 500;
  line-height: 3rem;
}

.footer__description {
  margin: 0 auto 5rem;
  max-width: 40rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer__general {
  margin: 0;
  color: var(--grey-3);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: calc(1rem / 32);
  text-transform: uppercase;
}
