.checkbox {
  display: inline-flex;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  left: -100vw;
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.checkbox__control {
  width: 28px;
  height: 28px;
  border: solid 1px var(--grey-2);
  border-radius: 4px;
}

.checkbox__icon {
  display: none;
  width: 100%;
  height: 100%;
  color: var(--white);
  position: relative;
  top: 3px;
  left: 2px;
}

.checkbox__title {
  font-family: 'Inter';
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--grey-4);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
  text-decoration: underline;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background-color: var(--primary);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control .checkbox__icon {
  display: block;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  background-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
  color: var(--grey-2);
}
