.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__title {
  margin: 0;
  color: var(--grey-3);
  font-family: 'Inter';
  font-size: 0.75em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.input__field {
  box-sizing: border-box;
  width: 21.875em;
  height: 3.5em;
  border: solid 1px var(--grey-2);
  transition: border-color 0.2s linear;
  border-radius: 8px;
  padding: 1em 1em 0.75em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.input:not(.input_invalid) .input__field:focus-within {
  border-color: var(--primary);
}

.input_success .input__field {
  border-color: var(--primary);
}

.input_invalid .input__field {
  border-color: var(--red);
}

.input__text {
  flex-grow: 1;
  border: none;
  padding: 0;
  color: var(--grey-4);
  font-family: 'Inter';
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625em;
}

.input__text::placeholder {
  color: var(--grey-2);
}

.input__text:focus {
  outline: none;
}

.input__icon {
  flex-shrink: 0;
  flex-basis: 24px;
  height: 24px;
}

.input__icon_success {
  display: none;
  color: var(--success);
}

.input_success .input__field .input__icon_success,
.input_invalid .input__field .input__icon_invalid  {
  display: block;
}

.input__icon_invalid {
  display: none;
  color: var(--error);
}
